<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rescat.rescat_android">

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".application.RescatApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_map_api_key"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <activity android:name=".ui.activity.MainActivity">
        </activity>
        <activity
                android:name=".ui.activity.sign.SignActivity"
                android:theme="@style/Theme.Rescat.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.activity.sign.SplashActivity"
                android:theme="@style/Theme.Rescat.Splash">
        </activity>
        <activity android:name=".ui.activity.sign.SignInActivity">
        </activity>
        <activity android:name=".ui.activity.sign.SignUpActivity">
        </activity>
        <activity android:name=".ui.activity.SearchActivity"/>
        <activity android:name=".ui.activity.helpcat.AdoptActivity">
        </activity>
        <activity android:name=".ui.activity.SearchResultActivity">
        </activity>
        <activity
                android:name=".ui.activity.AddMarkerActivity"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".ui.activity.MarkerRequestActivity">
        </activity>
        <activity android:name=".ui.activity.mypage.NoticeActivity">
        </activity>
        <activity android:name=".ui.activity.mypage.MyLocationActivity">
        </activity>
        <activity android:name=".ui.activity.mypage.SettingLocation">
        </activity>
        <activity android:name=".ui.activity.mypage.ModifyMyInfoActivity">
        </activity>
        <activity android:name=".ui.activity.mypage.MyPostActivity">
        </activity>
        <activity android:name=".ui.activity.caretakerAuth.CareTakerAreaAuthActivity">
        </activity>
        <activity android:name=".ui.activity.caretakerAuth.CareTakerAuthMainActivity">
        </activity>
        <activity android:name=".ui.activity.caretakerAuth.CareTakerMobileAuthActivity">
        </activity>
        <activity android:name=".ui.activity.caretakerAuth.CareTakerPhotoAuthActivity">
        </activity>
        <activity android:name=".ui.activity.helpcat.AdoptApplyActivity">
        </activity>
        <activity android:name=".ui.activity.helpcat.AdoptCompleteActivity">
        </activity>
        <activity android:name=".ui.activity.helpcat.ProtectActivity">
        </activity>
        <activity android:name=".ui.activity.helpcat.ProtectApplyActivity">
        </activity>
        <activity android:name=".ui.activity.helpcat.ProtectCompleteActivity"/>
        <activity android:name=".ui.activity.mypage.MySupportActivity">
        </activity>
    </application>

</manifest>